## Assignment 1, Data Mining

Put all deliverables into github repository in your profile. Share link to google form 24 hours before defense. Defend by explaining deliverables and answering questions.
Deliverables: .ipynb
Google form: https://docs.google.com/forms/d/e/1FAIpQLSe0GyNdOYlvM1tX_I_CtlPod5jBf-ACLGdHYZq1gVZbUeBzIg/viewform?usp=sf_link

## Exercise 1: Loading Data with Pandas

#### 1. Objective: Learn how to load and inspect datasets using Pandas.

#### 2. Steps:

* Import the Pandas library and load a CSV file into a DataFrame.

In [1]:
import pandas as pd
df = pd.read_csv('heart_failure_dataset.csv')

* Use the head(), tail(), and info() functions to inspect the dataset.

In [2]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
df.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
294,62.0,0,61,1,38,1,155000.0,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.0,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.0,1.6,136,1,1,285,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

* Check for missing values and data types of each column using isnull() and dtypes.

In [5]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [6]:
df.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

#### 3. Questions:

* How do you load a CSV file into a Pandas DataFrame?

You can use pd.read_csv('filename.csv') to load a CSV file into a DataFrame.

* What information does the info() function provide about the dataset?

It shows column names, number of non-null entries, and the data types of each column.

* How can you identify missing values in the dataset?

Use df.isnull().sum() to see how many missing values exist in each column.

## Exercise 2: Handling Missing Data

#### 1. Objective: Practice techniques for handling missing data in a dataset.
* Use different strategies to handle missing data:
    1) Remove rows with missing values using dropna().
    2) Fill missing values with the mean, median, or a specific value using fillna().
    3) Use forward or backward filling (ffill() or bfill()) to fill missing data.
* Compare the results of each method.

#### 2. Steps:

* Identify missing values in the dataset using isnull().sum().

In [7]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

* Use different strategies to handle missing data:
    1) Remove rows with missing values using dropna().
    2) Fill missing values with the mean, median, or a specific value using fillna().
    3) Use forward or backward filling (ffill() or bfill()) to fill missing data.

In [8]:
#1
df_dropped = df.dropna()

In [9]:
#2
df['creatinine_phosphokinase'] = df['creatinine_phosphokinase'].fillna(df['age'].mean())

In [10]:
#3
df.ffill(inplace=True)
df.bfill(inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [12]:
print(df.isnull().sum())

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

#### 3. Questions:
* What strategy did you use to handle missing values, and why?

Filling missing numerical values with the mean because it doesn't distort the distribution much.

* How did filling missing values affect the dataset?

It prevented the loss of data while filling gaps with a reasonable estimate.

* When might it be more appropriate to drop rows with missing values instead of filling them?

When the percentage of missing data is small, or when filling the values would introduce bias or inaccuracies.

## Exercise 3: Data Transformation

#### 1. Objective: Transform data to prepare it for analysis.

#### 2. Steps:
   
* Normalize numerical features using Min-Max scaling or Z-score standardization with sklearn.preprocessing.

In [13]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder

# Normalize numerical features using Min-Max scaling
scaler = MinMaxScaler()
df[['age', 'creatinine_phosphokinase', 'platelets', 'serum_creatinine', 'serum_sodium']] = scaler.fit_transform(df[['age', 'creatinine_phosphokinase', 'platelets', 'serum_creatinine', 'serum_sodium']])

* Encode categorical variables using one-hot encoding with pd.get_dummies() or sklearn.preprocessing.OneHotEncoder.

In [14]:
print(df.columns)

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [15]:
# Check if columns exist before encoding
if 'sex' in df.columns and 'smoking' in df.columns:
    df = pd.get_dummies(df, columns=['sex', 'smoking'], drop_first=True)
else:
    print("Columns 'sex' or 'smoking' are not in the DataFrame.")

In [16]:
df = pd.get_dummies(df, columns=['sex_1', 'smoking_1'])

* Use pd.cut() to bin continuous variables into discrete intervals.

In [17]:
# Bin continuous variables (if necessary)
df['ejection_fraction_bins'] = pd.cut(df['ejection_fraction'], bins=[0, 40, 60, 100], labels=['Low', 'Medium', 'High'])

#### 3. Questions:
* What is the difference between normalization and standardization?

Normalization scales data between 0 and 1, while standardization transforms data to have a mean of 0 and standard deviation of 1.

* How does one-hot encoding transform categorical variables?

It converts categorical columns into binary columns for each category, assigning a 1 where the category is present and 0 otherwise.

* Why might you want to bin continuous variables into categories?

Binning can simplify data and make patterns more apparent, especially for models that don't assume linear relationships.

## Exercise 4: Feature Engineering

#### 1. Objective: Create new features to improve the predictive power of a dataset.

#### 2. Steps:

* Create new features by combining or transforming existing features (e.g., adding interaction terms or polynomial features).

In [18]:
df['age_platelets_interaction'] = df['age'] * df['platelets']

* Extract date-based features (e.g., year, month, day) from datetime columns using pd.to_datetime() and dt accessor.

* Use domain knowledge to engineer features that might be useful for your specific problem.

#### 3. Questions:
* What new features did you create, and why?

For instance, the "age_to_ejection_fraction" ratio because it may correlate with the target.

* How did the new features improve the dataset?

It added more information for model training.

* How can date-based features be useful in a dataset?

They can capture trends over time or seasonality.

## Exercise 5: Data Cleaning

#### 1. Objective: Clean data to ensure it's ready for analysis.

#### 2. Steps:

* Remove duplicate rows using drop_duplicates().

In [19]:
df.drop_duplicates(inplace=True)

* Detect and remove outliers using the Z-score method or the IQR method.

1) Z-score method:

In [20]:
import numpy as np
from scipy import stats

df = df[(np.abs(stats.zscore(df[['age', 'creatinine_phosphokinase', 'platelets', 'serum_creatinine', 'serum_sodium']])) < 3).all(axis=1)]

Correct inconsistencies in categorical data (e.g., standardizing text formats or merging similar categories).

In [21]:
print(df.columns)

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'time', 'DEATH_EVENT',
       'sex_1_False', 'sex_1_True', 'smoking_1_False', 'smoking_1_True',
       'ejection_fraction_bins', 'age_platelets_interaction'],
      dtype='object')

#### 3. Questions:
* How did you identify and handle duplicate rows in the dataset?

Use df.duplicated() to find duplicates and remove them with drop_duplicates().

* What method did you use to detect and remove outliers, and why?

Z-score to remove points further than 3 standard deviations from the mean.

* How did you address inconsistencies in categorical data?

Standardized categories by converting all text to lowercase or merging similar categories.

## Exercise 6: Splitting Data into Training and Testing Sets

#### 1. Objective: Prepare the data for model training by splitting it into training and testing sets.

#### 2. Steps:

* Use sklearn.model_selection.train_test_split() to split the dataset into training and testing sets.

In [22]:
df['sex'] = df.apply(lambda row: 'male' if row['sex_1_True'] else 'female', axis=1)
df.drop(columns=['sex_1_False', 'sex_1_True'], inplace=True)

df['smoking'] = df.apply(lambda row: 'yes' if row['smoking_1_True'] else 'no', axis=1)
df.drop(columns=['smoking_1_False', 'smoking_1_True'], inplace=True)

In [23]:
from sklearn.model_selection import train_test_split

# Separate features and target variable
X = df.drop('DEATH_EVENT', axis=1)
y = df['DEATH_EVENT']

# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

* Ensure that the target variable is correctly separated from the features.

* Explore the impact of different train-test split ratios (e.g., 70-30, 80-20) on model performance.

#### 3. Questions:
* How do you split a dataset into training and testing sets in Python?

Use train_test_split() from sklearn to separate data into training and testing sets.

* What considerations should you keep in mind when choosing a train-test split ratio?

The split should balance enough training data for learning and enough test data to evaluate generalization.

* How does the size of the training set impact the model's ability to generalize?

A larger training set helps the model learn patterns but might leave less data to assess performance accurately.

## Exercise 7: Data Preprocessing Pipeline

#### 1. Objective: Build a preprocessing pipeline to automate the data preparation process.

#### 2. Steps:

* Use sklearn.pipeline.Pipeline to create a pipeline that includes steps such as missing value imputation, feature scaling, and encoding categorical variables.

In [24]:
print(X_train.columns)

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'time', 'ejection_fraction_bins',
       'age_platelets_interaction', 'sex', 'smoking'],
      dtype='object')

In [25]:
print(df.columns)

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'time', 'DEATH_EVENT',
       'ejection_fraction_bins', 'age_platelets_interaction', 'sex',
       'smoking'],
      dtype='object')

In [26]:
print(df.columns)

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'time', 'DEATH_EVENT',
       'ejection_fraction_bins', 'age_platelets_interaction', 'sex',
       'smoking'],
      dtype='object')

In [27]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler


# Create a pipeline for numerical features
numeric_features = ['age', 'creatinine_phosphokinase', 'platelets', 'serum_creatinine', 'serum_sodium']
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

# Create a pipeline for categorical features
categorical_features = ['sex', 'smoking']  # Adjust as needed based on your encoding
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine transformers into a preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Create the full pipeline
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))
])


# Fit the pipeline to the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipeline.predict(X_test)

# Evaluate the model (optional)
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.88      0.83        40
           1       0.62      0.47      0.53        17

    accuracy                           0.75        57
   macro avg       0.71      0.67      0.68        57
weighted avg       0.74      0.75      0.74        57

* Fit the pipeline to the training data and transform the test data.

In [30]:
# Fit the pipeline to the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipeline.predict(X_test)

* Integrate the preprocessing pipeline with a machine learning model for end-to-end training and evaluation.

In [31]:
from sklearn.ensemble import RandomForestClassifier
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', RandomForestClassifier())])

In [32]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.88      0.83        40
           1       0.62      0.47      0.53        17

    accuracy                           0.75        57
   macro avg       0.71      0.67      0.68        57
weighted avg       0.74      0.75      0.74        57

#### 3. Questions:
* What are the benefits of using a preprocessing pipeline?

Automation and consistency in data transformation.

* How does the pipeline ensure consistency between training and test data transformations?

It applies the same transformations (e.g., scaling, encoding) to both datasets.

* How can you extend the pipeline to include additional preprocessing steps?

Add more transformers in the pipeline, such as feature selection or interaction terms.